<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Organizations - Teaneck Minyanim</title>
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#275ed8">
    
    <meta name="msapplication-TileColor" content="#275ed8">
    <meta name="msapplication-config" content="/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="horizontal-container d-flex" id="wrapper">
        <th:block th:include="admin/navbar"></th:block>
        <div class="container-fluid" id="main">
            <div class="row row-offcanvas row-offcanvas-left vh-100">
                <th:block th:include="admin/sidebar"></th:block>
                <!--/col-->
                <div class="col-housing main h-100 overflow-auto">
                    <main class="col main pt-5 mt-3 overflow-auto">
                        <div th:if="${successmessage}">
                            <div class="alert alert-success" role="alert" th:text="${successmessage}"> </div>
                        </div>
                        <div th:if="${errormessage}">
                            <div class="alert alert-danger" role="alert" th:text="${errormessage}"></div>
                        </div>
                        <h1 class="display-4 d-none d-sm-block">
                            Settings
                        </h1>
                        <p class="lead">Manage the settings across the Minyanim platform.</p>

                        <!--                <hr>-->

                        <div class="row my-4 footer-pusher">
                            <div class="col-lg-9 col-md-8">
                                <div class="row my-4 footer-pusher">
                                    <div class="col-lg-9 col-md-8">
                                        <div class="table-responsive">
                                            <form onsubmit="validateData()" th:action="@{|/admin/${organization.id}/minyanim/create|}" method="post" style="overflow-x: hidden;">
                                                <div class="form-group">
                                                    <label for="type">Minyan Type</label>
                                                    <select class="custom-select" name="type" id="type" required>
                                                        <option value="" selected disabled>Choose a type</option>
                                                        <option value="shacharis">Shacharis</option>
                                                        <option value="mincha">Mincha</option>
                                                        <option value="maariv">Maariv</option>
                                                        <option value="selichot">Selichot</option>
                                                        <option value="megilareading">Megila Reading</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="location">Location</label>
                                                    <select class="custom-select" name="location" id="location" required>
                                                        <option value="" selected disabled>Choose a location</option>
                                                        <div th:each="location: ${locations}">
                                                            <option th:value="${location.id}" th:text="${location.name}"></option>
                                                        </div>
                                                    </select>
                                                    <small id="location-help" class="form-text text-muted">Choose the place inside the shul that the minyan will take place. To add more options, jump to <a th:href="@{|/admin/${organization.id}/locations|}">manage locations</a>.</small>
                                                </div>
                                                <div class="form-group">
                                                    <label for="sunday-box">Sunday</label>
                                                    <div class="form-row" id="sunday-box">
                                                        <div class="col">
                                                            <select class="custom-select" name="sunday-time-type" id="sunday-time-type" onchange="update('sunday')" required>
                                                                <option value="nm" selected>No Minyan</option>
                                                                <option value="fixed">Fixed</option>
                                                                <option value="dynamic">Dynamic</option>
                                                                <option value="rounded">Rounded</option>
                                                            </select>
                                                        </div>
                                                        <div class="col" id="dynamic-time-box-sunday"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nusach">Nusach</label>
                                                    <select class="custom-select" name="nusach" id="nusach">
                                                        <option value="unspecified">None specified</option>
                                                        <option value="edot_hamizrach">Edot HaMizrach</option>
                                                        <option value="sefard">Sefard</option>
                                                        <option value="ashkenaz" selected>Ashkenaz</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="notes">Notes</label>
                                                    <input type="text" class="form-control" name="notes" id="notes" aria-describedby="notes-help">
                                                </div>
                                                <div class="custom-control custom-switch" style="z-index: auto;">
                                                    <input type="checkbox" class="custom-control-input" name="enabled" id="enabled" checked>
                                                    <label class="custom-control-label" for="enabled">Display this minyan immediately</label>
                                                </div>
                                                <div class="login-msg-box" th:if="${inputerrormessage}">
                                                    <div class="form-msg-fatal" th:text="${inputerrormessage}"></div>
                                                </div>
                                                <hr>
                                                <button type="submit" class="btn btn-primary">Create</button>
                                            </form>
                                        </div>
                                    </div>
            
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="card-title">Minyanim</h4>
                                                <p class="card-text" th:text="${'View and manage all minyanim for ' + organization.name + '.'}"></p>
                                                <a th:href="@{|/admin/${organization.id}/minyanim|}" class="btn btn-primary">Go</a>
                                            </div>
                                        </div>
                                        <div class="card card-inverse bg-inverse mt-3">
                                            <div class="card-body">
                                                <h4 class="card-title">Need help?</h4>
                                                <p class="card-text">Click <a href="#" data-toggle="modal" data-target="#dynamic-time-help-modal">here</a> for an explanation of how to use the minyan time settings.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Add an Organization</h4>
                                        <p class="card-text">Create an organization along with an account used for
                                            posting location details, minyan information, and more. </p>
                                        <a href="/admin/new-organization" class="btn btn-primary">New Organization</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/row-->
                    </main>
                </div>

                <!--/main col-->
            </div>

        </div>
        <!--/.container-->
    </div>
</body>

</html>